In [1]:
import pandas as pd
import configparser
import psycopg2
import os

In [2]:
# move up one directory for config files
os.chdir('..')
os.getcwd()

'/home/workspace'

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')
    
host = config['CLUSTER']['DB_ENDPOINT']
dbname = config['CLUSTER']['DB_NAME']
user = config['CLUSTER']['DB_USER']
password = config['CLUSTER']['DB_PASSWORD']
port = config['CLUSTER']['DB_PORT']

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(host, dbname, user, password, port))
cur = conn.cursor()

In [4]:
table_names = ['song_stage', 'event_stage','dim_user', 'dim_song', 'dim_artist', 'dim_time', 'fact_sonplay']

In [5]:
# Create Row Count Check Queries

song_stage_count = ('''
SELECT Count(*)
FROM song_stage
;
''')

event_stage_count = ('''
SELECT Count(*)
FROM event_stage
;
''')

user_table_count = ('''
SELECT Count(*)
FROM dim_user
;
''')

song_table_count = ('''
SELECT Count(*)
FROM dim_song
;
''')

artist_table_count =('''
SELECT Count(*)
FROM dim_artist
;
''')

time_table_count = ('''
SELECT Count(*)
FROM dim_time
;
''')


fact_table_count = ('''
SELECT Count(*)
FROM fact_songplay
;
''')

In [6]:
# Execute Row Count Check Queries

count_rows_queries = [song_stage_count, event_stage_count, user_table_count, song_table_count, artist_table_count, time_table_count, fact_table_count]
for i in range(len(count_rows_queries)):
    
    df = pd.read_sql(count_rows_queries[i], conn)
    value = df.values[0][0]
    print("Row count in table {}: {}".format(table_names[i], value))

Check Row Count Table song_stage
14896
Check Row Count Table event_stage
8056
Check Row Count Table dim_user
104
Check Row Count Table dim_song
14896
Check Row Count Table dim_artist
201
Check Row Count Table dim_time
6813
Check Row Count Table fact_sonplay
6820

Event Stage has 
+ 8056 unfilted rows 
+ 6820 NextSong rows

In [9]:
query = '''
SELECT *
FROM fact_songplay
LIMIT 30;
'''

In [12]:
df = pd.read_sql(query, conn)
df[0:10]

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent
0,2937218,1541689317796,29,paid,SOFVOQL12A6D4F7456,ARPN0Y61187B9ABAA0,18,"Atlanta-Sandy Springs-Roswell, GA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
1,8874436,1542793738796,88,paid,SOTNHIP12AB0183131,ARD46C811C8A414F3F,36,"Sacramento--Roseville--Arden-Arcade, CA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
2,282701,1543344778796,28,free,SOEKSGJ12A67AE227E,ARQUMH41187B9AF699,1,"Portland-Vancouver-Hillsboro, OR-WA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...
3,4963015,1542317145796,49,paid,SOKHAAU12A6D4F71EF,ARDD09D1187B99AD60,15,"San Francisco-Oakland-Hayward, CA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...
4,4964821,1542401921796,49,paid,None,None,21,"San Francisco-Oakland-Hayward, CA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...
5,836930,1542508401796,83,free,None,None,0,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
6,585228,1542184462796,58,paid,None,None,8,"Augusta-Richmond County, GA-SC","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."
7,5885219,1542991831796,58,paid,None,None,19,"Augusta-Richmond County, GA-SC","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."
8,2467272,1542610939796,24,paid,None,None,72,"Lake Havasu City-Kingman, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
9,381070,1543282396796,38,free,None,None,0,"New York-Newark-Jersey City, NY-NJ-PA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."

In [21]:
# Create Duplication Check Queries

user_table_dups = ('''
SELECT user_id, first_name, last_name, level, COUNT(*)
FROM sparkify.dim_user
GROUP BY user_id, first_name, last_name, level
ORDER BY COUNT(*) DESC
LIMIT 5
;
''')

song_table_dups = ('''
SELECT
    s.song_id,
    s.title,
    COUNT(*)
FROM dim_song s
GROUP BY s.song_id, s.title
ORDER BY COUNT(*) DESC
LIMIT 5;
''')

artist_table_dups =('''
SELECT
    a.artist_id,
    a.name,
    COUNT(*)
FROM dim_artist a
GROUP BY a.artist_id, a.name
ORDER BY COUNT(*) DESC
LIMIT 5;
''')

time_table_dups = ('''
SELECT
    t.time_key,
    COUNT(*)
FROM dim_time t
GROUP BY t.time_key
ORDER BY COUNT(*) DESC
LIMIT 5;
''')

In [27]:
# Execute Duplication Check Queries

# Function
## Inputs a query, sql connection and table name
## Ouputs if query producted duplicates or not with statement
def check_duplicates(query, conn, table):

    count_df = pd.read_sql(query, conn)
    count_s = count_df['count']
    total_count = 0
    for val in count_s:
        if val == 1:
            total_count += 0
        
    if total_count > 0:
        return(print("Rows duplicated in table {}".format(table)))
        
    else:
        return(print("No rows duplicated in table {}".format(table)))
    

check_duplicate_queries = [user_table_dups, song_table_dups, artist_table_dups, time_table_dups]
table_names = ['dim_user', 'dim_song', 'dim_artist', 'dim_time']

duplicate_check_queries = [user_table_count, song_table_count, artist_table_count, time_table_count]
for i in range(len(duplicate_check_queries)):
        print()
        print("Check Duplications Table {}...".format(table_names[i]))
        check_duplicates(duplicate_check_queries[i], conn, table_names[i])

Check Row Count Table dim_user...
No rows duplicated in table dim_user

Check Row Count Table dim_song...
No rows duplicated in table dim_song

Check Row Count Table dim_artist...
No rows duplicated in table dim_artist

Check Row Count Table dim_time...
No rows duplicated in table dim_time